{% extends 'base.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}
<div class="bg-white shadow-md rounded-xl p-8 max-w-xl mx-auto">

    <h2 class="text-3xl font-bold text-emerald-600 mb-6">
        Add Product
    </h2>

    <form method="POST" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}

        <div>
            <label class="block mb-1 font-medium">Product Name</label>
            {{ form.name }}
        </div>

        <div>
            <label class="block mb-1 font-medium">Category</label>
            {{ form.category }}
        </div>

        <div>
            <label class="block mb-1 font-medium">Price</label>
            {{ form.price }}
        </div>

        <div>
            <label class="block mb-1 font-medium">Quantity</label>
            {{ form.quantity }}
        </div>

        <div>
            <label class="block mb-1 font-medium">Image</label>
            {{ form.image }}
        </div>

        <button type="submit"
            class="w-full bg-emerald-600 text-white py-2 rounded-lg hover:bg-emerald-700 transition">
            Add Product
        </button>
    </form>

</div>
{% endblock %}